.Faq {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: space-around;
    justify-content: center;
}
.qa {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}